#update-saved-search-modal-update-saved-search {
  display: flex;
  gap: 1rem;
  transition: background-color 0.2s ease;
  transition: border 0.2s ease;
  height: 3rem;
  width: 12rem;
  background-color: var(--secondary-color);
  border-radius: 10rem;
  border: 0.15rem solid var(--secondary-color);
  font-size: 1rem;
  color: white;
  font-family: var(--primary-font);
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: none;
}

#update-search-modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 30rem;
  background-color: black;
  border: 2px solid white;
  box-shadow: 24;
}

#update-saved-search-modal-update-saved-search:hover {
  transition: background-color 0.2s ease;
  background-color: var(--secondary-color-hover);
}

#update-saved-search-modal-update-saved-search-disabled {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  text-transform: none;
  transition: border 0.2s ease;
  height: 3rem;
  width: 12rem;
  background: none;
  border-radius: 10rem;
  border: 0.15rem solid grey;
  font-size: 1rem;
  color: white;
  font-family: var(--primary-font);
  margin-top: 1rem;
}

#update-saved-search-modal-line {
  border-color: var(--secondary-color);
  margin: -1.5rem 0 1.5rem;
}

#update-saved-search-modal-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16rem;
  width: 25rem;
  background-color: #1e1e1e;
  border: 2px solid #000;
  border-radius: 1rem;
  box-shadow: 24;
  padding: 2.2rem;
  gap: 1rem;
}

#update-saved-search-modal-title {
  font-weight: normal;
  font-family: var(--title-font);
  font-size: 2.2rem;
  margin-top: -0.2rem;
}

#update-saved-search-modal-input-title {
  font-weight: bold;
}

#update-saved-search-modal-input {
  height: 2rem;
  border: 0;
  border-radius: 10rem;
  padding-left: 0.5rem;
  font-family: var(--primary-font);
}

#update-saved-search-modal-input:focus {
  outline: 0;
}

#update-saved-search-modal-cancel-save {
  display: flex;
  gap: 1rem;
}

#update-saved-search-modal-cancel {
  display: flex;
  gap: 1rem;
  transition: background-color 0.2s ease;
  height: 3rem;
  width: 12rem;
  background-color: red;
  border-radius: 10rem;
  font-size: 1rem;
  color: white;
  font-family: var(--primary-font);
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: none;
  transition: background-color 0.2s ease;
}

#update-saved-search-modal-save {
  display: flex;
  gap: 1rem;
  transition: background-color 0.2s ease;
  height: 3rem;
  width: 12rem;
  background-color: green;
  border-radius: 10rem;
  font-size: 1rem;
  color: white;
  font-family: var(--primary-font);
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: none;
}

#update-saved-search-modal-save-disabled {
  display: flex;
  gap: 1rem;
  transition: background-color 0.2s ease;
  height: 3rem;
  width: 12rem;
  background-color: gray;
  border-radius: 10rem;
  font-size: 1rem;
  color: white;
  font-family: var(--primary-font);
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: none;
}

#update-saved-search-modal-cancel:hover {
  transition: background-color 0.2s ease;
  background-color: rgb(255, 46, 46);
}

#update-saved-search-modal-save:hover {
  transition: background-color 0.2s ease;
  background-color: rgb(0, 158, 0);
}
