:root {
  color: white;
  background-color: black;
  font-family: Montserrat;
  --title-font: Bebas Neue;
  --primary-font: Montserrat;
  --primary-color: #1e90ff;
  --primary-color-hover: #3399ff;
  --secondary-color: #ffa91e;
  --secondary-color-hover: #ffb53e;
}
