#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

#landing-title {
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 4rem;
    width: 40rem;
    margin-bottom: 0;
}

#landing-text {
    font-size: 1.2rem;
    width: 30rem;
}

#landing-title-text {
    display: flex;
    flex-direction: column;
    width: 100%;

}
