.profile-dropdown {
  position: absolute;
  right: 1rem;
  top: 5rem;
}

#navigation {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: .5rem;
}

#navigation-logo {
  height: 4rem;
}
